# Sparkify with Apache Cassandra Query Tests

This notebook helps to verify if sample queries for this project.

## Initial setup

In [1]:
import os
import pandas as pd

from dotenv import load_dotenv
from create_tables import get_cassandra_connection
from cql_queries import select_query_1, select_query_2, select_query_3

In [2]:
# loading environment variables
load_dotenv()

True

Getting Cassandras session and cluster

In [3]:
cluster, session = get_cassandra_connection()

Setting adequate keyspace

In [4]:
session.set_keyspace(os.getenv('KEYSPACE'))

## Sample Queries

### 1. Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4

In [5]:
rows = session.execute(select_query_1)
q1_df = pd.DataFrame(list(rows))
q1_df

      artist                            title      length
0  Faithless  Music Matters (Mark Knight Dub)  495.307312

### 2. Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182

In [6]:
rows = session.execute(select_query_2)
q2_df = pd.DataFrame(list(rows))
q2_df

,artist,title,first_name,last_name
0,Down To The Bone,Keep On Keepin' On,Sylvie,Cruz
1,Three Drives,Greece 2000,Sylvie,Cruz
2,Sebastien Tellier,Kilometer,Sylvie,Cruz
3,Lonnie Gordon,Catch You Baby (Steve Pitron & Max Sanna Radio...,Sylvie,Cruz

### 3. Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

In [7]:
rows = session.execute(select_query_3)
q3_df = pd.DataFrame(list(rows))
q3_df

   first_name last_name
0  Jacqueline     Lynch
1       Tegan    Levine
2        Sara   Johnson

### Closing session and cluster

In [8]:
session.shutdown()
cluster.shutdown()